body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: -20px;
}

.Title span {
    display: inline-block;
    padding: 1px;
    position: relative;
    z-index: 1;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Title span:hover {
    background-color: #ffffff;
    box-shadow: 0 0 0 2px #003f00;
    z-index: 10;
}

.Title span::after {
    content: attr(data-label);
    
    position: absolute;
    top: -16px;
    left: -2px;

    font-size: 10px;
    background: #003f00;
    color: white;

    padding: 2px 4px;
    border-radius: 0px;
    white-space: nowrap;

    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.Title span:hover::after {
    opacity: 1; 
    transform: translateY(0);
}


.buttons {
    display: flex;
    gap: 50px;
}

button {
    width: 120px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: #003f00;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    width: 120px;
    height: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;

    color: #003f00;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }

  .custom-file-upload:hover {
    box-shadow: 0 0 0 2px #003f00;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }


button:hover {
    box-shadow: 0 0 0 2px #003f00;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


#cameraFeed {
    width: 100%;
    max-width: 640px;

    height: auto;

    object-fit: contain;

    margin-bottom: 20px;
}

#preview {
    width: 400px; 
    height: auto; 
    border-radius: 10px;
}


#cameraFeed.loaded {
    box-shadow: 0 0 0 2px #003f00;
}

.material-symbols-outlined {
    font-size: 32px;
}
